*{
    font-family: 'Times New Roman', Times, serif;
}

.topnav {
    background-color: #222222;
    height: 25px;
    padding: 20px 10px;
    text-align: center;
}

.btn{
    background-color:#222222;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    margin:0px 40px;
}

body {
  background-color: silver;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#my-pie-chart {
    height: 500px;
    width: 500px;
    margin: 100px;
    border-radius: 50%;
    background: conic-gradient(red 0% 40%, blue 40% 57%, green 57% 92%, yellow 92% 100%);
}

#legend {
  margin-left: 20px;
  background-color: white;
  padding: 5px;
}

.entry {
  display: flex;
  align-items: center;
}

.entry-color {
    height: 10px;
    width: 10px;
}

.entry-text {
  margin-left: 5px;
}

#color-red {
  background-color: red;
}

#color-blue {
  background-color: blue;
}

#color-green {
  background-color: green;
}

#color-yellow {
  background-color: yellow;
}