*{
    font-family: 'Times New Roman', Times, serif;
}

.topnav {
    background-color: #222222;
    height: 25px;
    padding: 20px 10px;
    text-align: center;
}

.btn{
    background-color:#222222;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    margin:0px 40px;
}

body {
  background-color: silver;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chart-wrap{
  height:650px;
  width: 400px;
  padding-right: 350px;
  padding-top: 200px;
}

.chart-wrap .grid{
  position:relative;
  height:77%;
  width: 100%;
  padding: 5px 0 5px 0;
  background-image: repeating-linear-gradient(90deg,transparent, transparent 14%, black 15%)
}

.chart-wrap .bar{
  width: var(--bar-value);
  height: 200px;
  background-color: blue;
  margin: 30px 0;
  border-radius: 0 3px 3px 0;
}

.chart-wrap.vertical .grid{
  transform: translateY(-175px) translateX(175px) rotate(-90deg);
}

.chart-wrap .bar::after{
  content: attr(date-name);
  display: block;
  font-weight: bold;
  padding: 10px;
  margin-left: 100%;
}

.chart-wrap.vertical .grid .bar::after{
  transform:translateY(-50%) rotate(60deg);
  display:block;
}



.chart-wrap .grid::before{
  content:"0%";
  position: absolute;
  transform:rotate(90deg);
  left:-1.5em;
  top:-0.5em;
}

.chart-wrap .grid::after{
  content: "100%";
  position: absolute;
  transform:rotate(90deg);
  right: -1.5em;
  top:-0.5em;
}
